<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Acl/etc/acl.xsd">
    <acl>
        <resources>
            <resource id="Magento_Backend::admin">
                <resource id="Hainan_Sea::hainan" title="Hai nan" sortOrder="100">
                    <resource id="Hainan_StoreLocator::store_location" title="Store Locations" sortOrder="100">
                        <resource id="Hainan_StoreLocator::stores" title="Manage Stores" translate="title" sortOrder="100">
                            <resource id="Hainan_StoreLocator::stores_save" title="Save" translate="title" sortOrder="10" />
                            <resource id="Hainan_StoreLocator::stores_delete" title="Delete" translate="title" sortOrder="20" />
                        </resource>
                        <resource id="Hainan_StoreLocator::location" title="Manage Locations" translate="title" sortOrder="200">
                            <resource id="Hainan_StoreLocator::location_save" title="Save" translate="title" sortOrder="10" />
                            <resource id="Hainan_StoreLocator::location_delete" title="Delete" translate="title" sortOrder="20" />
                        </resource>
                        <resource id="Hainan_StoreLocator::storelocator_settings" title="Store Locator Settings" translate="title" sortOrder="300"/>
                    </resource>
                </resource>


                <resource id="Magento_Backend::stores">
                    <resource id="Magento_Backend::stores_settings">
                        <resource id="Magento_Config::config">
                            <resource id="Hainan_StoreLocator::config" title="Sea Settings" sortOrder="100">

                            </resource>
                        </resource>
                    </resource>
                </resource>
            </resource>
        </resources>
    </acl>
</config>
